@using IdentityServer.Views.Helper
@model IndexViewModel
@{
    ViewData["Title"] = @SharedResource.PROFILE;
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <input asp-for="Username" class="form-control" type="hidden"/>
            <input asp-for="IsEmailConfirmed" class="form-control" type="hidden"/>
            <div class="form-group">
                <label asp-for="Username">@SharedResource.USERNAME</label>
                <input asp-for="Username" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="Email">@SharedResource.EMAIL</label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control"/>
                        <span class="input-group-addon" aria-hidden="true">
                            <span class="fas fa-check-circle text-success"></span>
                        </span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control"/>
                    <button
                        asp-action="SendEmailVerification"
                        asp-controller="Auth"
                        asp-route-Username="@Model.Username"
                        asp-route-Email="@Model.Email"
                        class="btn btn-link">
                        @SharedResource.SEND_VERIFICATION_EMAIL
                    </button>
                }
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">@SharedResource.PHONE_NUMBER</label>
                <input asp-for="PhoneNumber" class="form-control"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@SharedResource.SAVE</button>
        </form>
    </div>
</div>